<fieldset>
  <legend>Encounter Window</legend>

  <b>Current Turn: {{state.turn.pos}}</b>
  <h3 *ngIf="state.turn.turns[state.turn.pos] === ls.myProfile.id">It's your turn!</h3>
  <form #monsterList="ngForm" (ngSubmit)="sendState(state)">
    <div *ngFor="let monster of state.monsterArray">
      <fieldset>
        <legend>{{monster.name}}</legend>
      <b>Type: {{monster.type}}</b><br>
      <b>HP</b>
      <input type="number" name={{monster.name}}_hp [(ngModel)]="monster.hp">
      <b>AC</b>
      <input type="number" name={{monster.name}}_ac [(ngModel)]="monster.ac">
      <b>Damage Die</b>
      <input type="number" name={{monster.name}}_dd [(ngModel)]="monster.damageDie">
    </fieldset>
    </div>
    <button type="submit">Send State</button>
   </form>

   <br> Diagnostic: {{ diagnostic }}

</fieldset>