<div>
  <form (ngSubmit)="onSubmit()" #characterCreation="ngForm">
    <fieldset>
      
      <legend>Character Creation</legend>
      
      <label>Character Id </label>
      <input type="number" 
      class="form-control" id="chId" required [(ngModel)]="model.id" name="id">
      <br>
      
      <label>User Id </label>
      <input type="number" 
      class="form-control" id="uId" required [(ngModel)]="model.playerAccount" name="playerAccount">
      <br>

      <label>Character Name</label>
      <input type="text"  
      class="form-control" id="pcName" required [(ngModel)]="model.characterName" name="characterName">
      <br>
      
      <label>Campaign </label>
      <input type="number" 
      class="form-control" id="cId" required [(ngModel)]="model.campaignId" name="campaignId">
      <br>
      
      <label>Health Points</label>
      <input type="number" 
      class="form-control" id="hp" required [(ngModel)]="model.healthPoints" name="healthPoints">
      <br>
      
      <label>Armor Class</label>
      <input type="number"
      class="form-control" id="ac" required [(ngModel)]="model.armorClass" name="armorClass">
      <br>
      
      <label>Damage Die </label>
      <input type="number" 
      class="form-control" id="dd" required [(ngModel)]="model.damageDie" name="damageDie">
      <br>
      
      <button type="submit">Submit</button>

    </fieldset>
  </form>
  
</div>

{{ diagnostic }}



