<div *ngIf="model_campaign.id===0">
  <h2>Select Campaign:</h2>
  <div *ngFor="let campaign of campaign_list">
    <form (ngSubmit)="onSubmitCampaign(campaign)">
      <button type="submit">{{campaign.name}}</button>
    </form>
  </div>
</div>

<div *ngIf="model_campaign.id!==0">
  <b>is this your campaign?: {{DM}}</b><br>

  <form (ngSubmit)="loadState()">
    <button type="submit">Load State</button>
  </form>

  <b>Add Character:</b>
  <div *ngFor="let character of character_list">
    <form (ngSubmit)="onSubmitCharacter(character)">
      <button type="submit">{{character.characterName}}</button>
    </form>
  </div>

  <fieldset>
    <legend>Add Monster To Encounter</legend>
    <b>Use Template For Monster:</b>
    <div *ngFor="let monster of monster_list">
      <form (ngSubmit)="onSubmitTemplate(monster)">
        <button type="submit">{{monster.name}}</button>
      </form>
    </div>
    <div class="container">
      <form (ngSubmit)="onSubmitMonster()" #monsterCreation="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="model_monster.name" name="name">
        </div>

        <div class="form-group">
          <label for="type">Name</label>
          <input type="text" class="form-control" id="type" required [(ngModel)]="model_monster.type" name="type">
        </div>

        <div class="form-group">
          <label for="damageDie">Damage Die</label>
          <input type="number" class="form-control" id="damageDie" required [(ngModel)]="model_monster.damageDie"
            name="damageDie">
        </div>

        <div class="form-group">
          <label for="ac">Armor Class (AC)</label>
          <input type="number" class="form-control" id="ac" required [(ngModel)]="model_monster.ac" name="ac">
        </div>

        <div class="form-group">
          <label for="hp">Hit Points (HP)</label>
          <input type="number" class="form-control" id="hp" required [(ngModel)]="model_monster.hp" name="hp">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
    </div>
  </fieldset>

  <br><button (click)="saveEncounter()">Save Encounter</button>


</div>

<br>current model: {{ diagnostic }}


<!--
<div>
  <form (ngSubmit)="onSubmit()" #characterCreation="ngForm">
    <fieldset>
     
      <legend>Encounter Creation</legend>
      
      <label>Encounter Id</label>
      <input type="number" 
      class="form-control" id="enId" required [(ngModel)]="model.id" name="id">
      <br>
      
      <label>Encounter Name</label>
      <input type="text"  
      class="form-control" id="encName" required [(ngModel)]="model.encounterName" name="encounterName">
      <br>

      <label>Campaign Id</label>
      <input type="number" 
      class="form-control" id="cId" required [(ngModel)]="model.campaignId" name="campaignId">
      <br>
      
      <label>User Id</label>
      <input type="number" 
      class="form-control" id="uId" required [(ngModel)]="model.userId" name="userId">
      <br>
      
      <label>Monsters</label>
      <input type="text" 
      class="form-control" id="mons" required [(ngModel)]="model.monsters" name="monsters">

      <button type="submit">Submit</button>

    </fieldset>
  </form>
  
</div>
-->