<div class="container center" id="root">
  <h1>Register</h1>
  <form class="colorBackground" (ngSubmit)="onSubmit()" #registerForm="ngForm">
  
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="model.username"
         name="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password">
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="model.email" name="email">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">Submit</button>
  </form>
</div>

<br>current model: {{ diagnostic }}
<br>post result: {{ post_result }}