#character-container{
    width: 25%;
    height: 250px;
    margin-left: 25%;
    display: inline-block;
    background-color: red;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
    padding: 10px;
}
#campaign-container{
    display:inline-block;
    width: 25%;
    height: 250px;
    background-color: blueviolet;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
    padding: 10px;
}
#campaign-search-container{
    width : 50%;
    height: 250px;
    margin-left: 25%;
    background-color: blue;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
    padding: 10px;
}