<div>
  <form method="GET">
    <fieldset>
      <legend>Login:</legend>
      <label for="username-field">Login:</label>
      <input type="text" name="username-field" id="username-field">
      <br>
      <label for="password-field">Password:</label>
      <input type="password" name="password-field" id="password-field">
      <br>
      <input type="submit">
    </fieldset>
  </form>
</div>
<div>
  <form action="/register" method="POST">
    <fieldset>
      <legend>Register</legend>
      <button>Register</button>
    </fieldset>
  </form>
</div>